/* * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

body {
    /* background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgb(74, 37, 95) 0%, rgb(35, 30, 39) 35%, rgb(54, 107, 72) 100%); */
    /* background-image: url("../img/fondo_2.jpg"); */
    background-color: #151515;
}

.contenedor_nav {
    background-color: #151515;
    padding: 0;
}

.contenedor {
    background-color: rgba(252, 252, 252, 0.932);
}

.card-body {
    overflow: hidden;
}

.card-text {
    font-size: 13pt;
    text-align: justify;
}

#home {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 0.6px;
    word-spacing: -5px;
    color: #eeeeee;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

.bar_nav {
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* min-width: 100%; */
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgba(43, 36, 73, 0.986) 0%, rgba(32, 11, 54, 0.89) 35%, rgb(43, 99, 77) 100%);
}

.bar_bread {
    width: 100%;
    z-index: 99;
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgba(43, 36, 73, 0.986) 0%, rgba(32, 11, 54, 0.89) 35%, rgb(43, 99, 77) 100%);
}

.div_banner {
    float: right;
    width: 50%;
    height: auto;
}

.banner {
    float: right;
    width: 50%;
    display: block;
}

.banner4 {
    width: 50%;
    margin-top: 24%;
    display: block;
}

.text,
p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: large;
    color: #000000;
}

#error {
    position: relative;
    height: 100vh;
    background: #f6f6f6;
}

#error .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}


/* .error .notauto-404, */

.error-401,
.error-403,
.error-404,
.error-419 {
    position: relative;
    height: 180px;
}

.error-401 h1,
.error-403 h1,
.error-404 h1,
.error-419 h1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 165px;
    font-weight: 700;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
}

.error-401 h1>span {
    color: #00b7ff;
}

.error-403 h1>span {
    color: #f8db5a;
}

.error-404 h1>span {
    color: #895af8;
}

.error-419 h1>span {
    color: #6ddf69;
}

.error h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #151515;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .notfound h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 141px;
    }
}


/* .fondo_sesion {
    margin: 0 auto;
    background-size: cover;
    background-color: grey;
    background-image: url("../img/fondo_sesion_1.jpg");
    background-position: 50% 50%;
} */

.card_header_sesion {
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgb(32, 11, 54) 35%, rgb(43, 99, 77) 100%);
}

.img_admin {
    height: 240px;
}

.img_pub {
    height: 185px;
    min-height: 185px;
    width: auto;
    overflow: hidden;
}

.imagen_posts {
    height: 185px;
    max-width: auto;
}

.img_post {
    max-width: 300px;
    height: auto;
}

.contenedor_foot {
    padding: 0;
}

.card_pub:hover {
    background-color: #ffffff;
    margin: 2px;
}

.card_admin:hover {
    background-color: #f3eded;
    margin: 5px;
}

.footer {
    margin-top: auto;
    height: auto;
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgb(32, 11, 54) 35%, rgb(43, 99, 77) 100%);
}

.editor {
    width: inherit;
}

.spinner_publicando {
    color: rgba(50, 15, 88, 0.89);
}

.publicando {
    text-align: center;
    color: #262626;
}

.spiner_1 {
    color: #7230db;
}

.spiner_2 {
    color: #22287e;
}

.spiner_3 {
    color: #022081;
}

.spiner_4 {
    color: #19705a;
}

.spiner_5 {
    color: #36a769;
}